body {
    background: #4F5155;
    margin: 30px;
    font-family: Lucida Grande, Verdana, Sans-serif;
    font-size: 18px;
    color: #4F5155;
}

.container h2{
    font-weight: bold;
}

h1{
    text-shadow: 2px 2px 2px #000000; 
    color: #CCC;
}

.slides_container {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    width:800px;
    padding: 20px;
    height:380px;
}

.slides_container div {
    width:700px;
    height:380px;
    display:block;
  }

  a {
    color: #3DC6C6;
    font-weight: bold;
  }
  
a:link,a:visited {
	color:#3DC6C6;
	text-decoration:none;
}

a:hover,a:active {
	color:#3DC6C6;
	text-decoration:underline;
}

.info{
    margin-top: 250px;
}

.nombre{
    margin-left: 500px; 
    font-size: 22px;
}
  
span.resaltar{
    font-weight: bold;
    font-size: 18px;
}

span.ejercicio{
    font-weight: bold;
    font-size: 20px;
	 color: #4F5155;
	 text-shadow: 2px 2px 0 #3DC6C6;
}
p.referencia{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
}
  /*
	Next/prev buttons
*/
.prev, .next{
    padding-right: 200px;
}


/*Pagination*/

.pagination li{
    float:left;
    margin-top: 40px;
    padding: 20px;
    list-style: none;
}

#footer{
    margin-bottom: 40px;
}

.senalar{
 cursor: pointer;
}




