#contenido{
    margin: 40px;
}

#contenido2{
    margin: 100px;
}

.negritas{
 font-weight: bold;
 font-size: 14px;
 color: yellow;
}


.superClase{
   border: 3px solid green;
   padding: 10px;
}


#numeracion{
    border: 1px solid red;
    
}

.current a {
    color: black;
}
      
